<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-header">
  <meta charset="UTF-8">
  <title>ES 과제 사이트</title>

  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">

  <script th:src="@{/js/service.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

</body>
</html>